@use "mixins" as *;
@use "variables" as *;

.container-main {
	width: min(1440px, 90%);
	margin: 0 auto;
}

%form-resets {
	background-color: transparent;
	border: 0;
}

%pill-shape {
	border-radius: 100vmax;
}