@use "variables" as *;
@use "mixins" as *;
@use "classes" as *;

header a,
#nav-mobile .nav-links > a {
	text-decoration: none;
	color: $color-dark;
	font-family: $font-primary;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn {
	@extend %pill-shape;
	display: inline-block;
	padding: 0.5em 1.5em;
	text-decoration: none;
}

.btn-primary {
	background-color: $color-dark;
	color: $color-light;
}

.btn-secondary {
	@include inset-border(2px, black);
	color: $color-dark;
}

body > .modal-backdrop {
	position: fixed;
	@include inset(0);
	display: none;

	&.open {
		display: block;
	}
}