@use "mixins" as *;
@use "variables" as *;

*, *::before, *::after {
	box-sizing: border-box;
	@include mp();
	font-family: $font-primary;
}

body {
	height: 100vh;
	height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
	@include flex(flex-start);
}

header, main, footer {
	opacity: 1;
	transition: opacity 375ms ease;

	&.transparent {
		opacity: 0;
	}
}

h1, .h1 {
	margin: 0;
}

// h2, .h2 {
	
// }

// h3, .h3 {
	
// }

// h4, .h4 {
	
// }

// h5, .h5 {
	
// }

// h6, .h6 {
	
// }