@use "../global/index" as *;

header {
	--gap-logo: 5px;
	--gap-nav: 2em;
	--height-icon: 20px;
	--gap-icon: calc(var(--height-icon) * 2);
	--height-logo: 50px;
	--height-logo-small: calc(var(--height-logo) * 0.75);
	--padding-header: 20px;

	$gap-logo: var(--gap-logo);
	$gap-nav: var(--gap-nav);
	$height-icon: var(--height-icon);
	$gap-icon: var(--gap-icon);
	$height-logo: var(--height-logo);
	$height-logo-small: var(--height-logo-small);
	$padding-header: var(--padding-header);

	@include flex();
	padding: $padding-header 0;

	> * {
		flex: 1 1 0;
	}

	> #logo {
		@include flex(flex-start);
		gap: $gap-logo;

		> svg {
			height: $height-logo;

			& + svg {
				height: $height-logo-small;
			}
		}
	}

	> nav.desktop {
		@include flex(space-between);
		gap: $gap-nav;
	}

	> #search {
		@include flex(flex-end);
		gap: $gap-icon;
	}

	form {
		@include flex();
		gap: $height-icon;

		> * {
			@extend %form-resets;
		}
	}

	.share svg,
	form button svg {
		height: $height-icon;
	}

	.share,
	#search > form > button {
		display: flex;
	}

	#hamburger {
		display: none;
		cursor: pointer;

		> svg {
			@include square($height-icon);
		}
	}
}

@media screen and (max-width: 1280px) {
	header form > #pg-search {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	header {
		nav.desktop {
			display: none;
		}

		#hamburger {
			display: flex;
		}
	}
}