@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-ExtraLight.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Light.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Regular.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Medium.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-SemiBold.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Bold.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-ExtraBold.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
:root {
  --color-light: white;
  --color-dark: black;
  --font-primary: "Montserrat";
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

body {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header, main, footer {
  opacity: 1;
  transition: opacity 375ms ease;
}
header.transparent, main.transparent, footer.transparent {
  opacity: 0;
}

h1, .h1 {
  margin: 0;
}

.container-main {
  width: min(1440px, 90%);
  margin: 0 auto;
}

header form > * {
  background-color: transparent;
  border: 0;
}

.btn {
  border-radius: 100vmax;
}

header a,
#nav-mobile .nav-links > a {
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-primary);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.btn-secondary {
  box-shadow: inset 0 0 0 2px black;
  color: var(--color-dark);
}

body > .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
body > .modal-backdrop.open {
  display: block;
}

header {
  --gap-logo: 5px;
  --gap-nav: 2em;
  --height-icon: 20px;
  --gap-icon: calc(var(--height-icon) * 2);
  --height-logo: 50px;
  --height-logo-small: calc(var(--height-logo) * 0.75);
  --padding-header: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-header) 0;
}
header > * {
  flex: 1 1 0;
}
header > #logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-logo);
}
header > #logo > svg {
  height: var(--height-logo);
}
header > #logo > svg + svg {
  height: var(--height-logo-small);
}
header > nav.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-nav);
}
header > #search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-icon);
}
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--height-icon);
}
header .share svg,
header form button svg {
  height: var(--height-icon);
}
header .share,
header #search > form > button {
  display: flex;
}
header #hamburger {
  display: none;
  cursor: pointer;
}
header #hamburger > svg {
  width: var(--height-icon);
  height: var(--height-icon);
}

@media screen and (max-width: 1280px) {
  header form > #pg-search {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  header nav.desktop {
    display: none;
  }
  header #hamburger {
    display: flex;
  }
}
#nav-mobile {
  width: 50%;
  height: 100%;
  position: fixed;
  right: -50%;
  top: 0;
  transition: right 375ms ease;
}
#nav-mobile.open {
  right: 0;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.333);
}
#nav-mobile > .header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px calc((100vw - min(1440px, 90vw)) * 0.5);
}
#nav-mobile > .header-mobile > #logo-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 50px;
}
#nav-mobile > .header-mobile > #logo-mobile > svg {
  height: 80%;
}
#nav-mobile > .header-mobile > #logo-mobile > svg + svg {
  height: 60%;
}
#nav-mobile > .header-mobile > .close-button {
  cursor: pointer;
  display: flex;
  height: 20px;
}
#nav-mobile > .header-mobile > .close-button > svg {
  height: 100%;
}
#nav-mobile > .main-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px calc((100vw - min(1440px, 90vw)) * 0.5);
}
#nav-mobile > .main-mobile > .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

section#section-hero {
  --section-width: max(720px, 50%);
  --heading-size: 44px;
  --heading-weight: ;
  --heading-margin: 1em;
  --paragraph-size: 18.5px;
  --paragraph-weight: 500;
  --paragraph-leading: 1.75;
  --paragraph-margin: 2em;
  --button-gap: 2.5em;
  --button-padding: 1em 4em;
  max-width: var(--section-width);
}
section#section-hero > h1 {
  font-size: var(--heading-size);
  letter-spacing: 0.5px;
  margin-bottom: var(--heading-margin);
}
section#section-hero > p {
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weight);
  letter-spacing: 0.5px;
  line-height: var(--paragraph-leading);
  margin-bottom: var(--paragraph-margin);
}
section#section-hero > .hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--button-gap);
}
section#section-hero > .hero-buttons > .btn {
  padding: var(--button-padding);
  font-weight: 600;
  letter-spacing: 1px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  font-weight: 500;
}
footer > .more,
footer > .notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer > .more > svg,
footer > .notification > svg {
  height: 40px;
}
