@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-ExtraLight.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Light.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Regular.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Medium.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-SemiBold.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-Bold.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oxanium";
  src: url("../resources/fonts/oxanium/Oxanium-ExtraBold.woff2") format("woff2"), url("../resources/fonts/oxanium/Oxanium-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../resources/fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
:root {
  --color-light: white;
  --color-dark: black;
  --font-primary: "Montserrat";
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

body {
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1, .h1 {
  margin: 0;
}

.container-main {
  width: min(1440px, 90%);
  margin: 0 auto;
}

header form > * {
  background-color: transparent;
  border: 0;
}

.btn, .btn-primary, .btn-secondary {
  border-radius: 100vmax;
}

header a {
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-primary);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn, .btn-secondary, .btn-primary {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.btn-secondary {
  color: var(--color-dark);
}
.btn-secondary {
  position: relative;
}
.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--color-dark);
  border-radius: 100vmax;
}

header {
  --gap-logo: 5px;
  --height-icon: 20px;
  --height-logo: 50px;
  --height-logo-small: calc(var(--height-logo) * 0.75);
  --padding-header: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-header) 0;
}
header > * {
  flex: 1 1 0;
}
header > #logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-logo);
}
header > #logo > svg {
  height: var(--height-logo);
}
header > #logo > svg + svg {
  height: var(--height-logo-small);
}
header > nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header > #search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header > #search > .share {
  margin-right: var(--height-icon);
  padding-right: var(--height-icon);
  border-right: 1px solid var(--color-dark);
}
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--height-icon);
}
header .share svg,
header form button svg {
  height: var(--height-icon);
}

section#section-hero {
  --section-width: 50%;
  --heading-size: 44px;
  --heading-weight: ;
  --heading-margin: 1em;
  --paragraph-size: 18.5px;
  --paragraph-weight: 500;
  --paragraph-leading: 1.75;
  --paragraph-margin: 2em;
  --button-gap: 2.5em;
  --button-padding: 1em 4em;
  max-width: var(--section-width);
}
section#section-hero > h1 {
  font-size: var(--heading-size);
  letter-spacing: 0.5px;
  margin-bottom: var(--heading-margin);
}
section#section-hero > p {
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weight);
  letter-spacing: 0.5px;
  line-height: var(--paragraph-leading);
  margin-bottom: var(--paragraph-margin);
}
section#section-hero > .hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--button-gap);
}
section#section-hero > .hero-buttons > .btn {
  padding: var(--button-padding);
  font-weight: 600;
  letter-spacing: 1px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  font-weight: 500;
}
footer > .more,
footer > .notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer > .more > svg,
footer > .notification > svg {
  height: 40px;
}
